{
  "openapi": "3.1.0",
  "info": {
    "title": "Checkrd Control Plane API",
    "description": "REST API for the Checkrd control plane. Manages agents, policies, API keys, alerts, and workspace metadata. Generated from the Rust handler signatures via utoipa — do not edit schemas/api/openapi.json by hand.",
    "license": {
      "name": "Apache-2.0"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.checkrd.io",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development"
    }
  ],
  "paths": {
    "//auth/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "description": "Public — completes the WorkOS OAuth round-trip. Exchanges `code` for user identity, upserts the user, auto-creates a workspace if needed, issues an EdDSA JWT, and redirects to the dashboard with httpOnly session cookies set.",
        "operationId": "callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code returned by WorkOS",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "CSRF state token issued by `/auth/login`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the dashboard. Sets `checkrd_session` (access JWT) and `checkrd_refresh` (refresh token) httpOnly cookies."
          },
          "401": {
            "description": "CSRF state validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "WorkOS upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/cli/device/approve": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Authenticated via httpOnly session cookie (`checkrd_session`). Called by the dashboard's `/login/device` page after the user signs in via WorkOS.",
        "operationId": "device_approve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Approval recorded. The CLI's next `/auth/cli/device/token` poll will return `status: approved` with the freshly minted API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceApprovalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Code unknown, already approved/denied, or expired (intentionally generic to avoid leaking which `user_code`s existed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/cli/device/code": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Public — first leg of the RFC 8628 device-authorization grant used by `checkrd login`. No authentication required (the CLI bootstraps the flow).",
        "operationId": "device_code",
        "responses": {
          "200": {
            "description": "Device code allocated. Show `user_code` to the user, open `verification_uri_complete` in their browser, and start polling `/auth/cli/device/token` with `device_code`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCodeResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to allocate device code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/cli/device/deny": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Authenticated via httpOnly session cookie (`checkrd_session`). User pressed Deny on the dashboard's `/login/device` page.",
        "operationId": "device_deny",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Denial recorded. The CLI's next `/auth/cli/device/token` poll will return `status: denied`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceApprovalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Code unknown, already approved/denied, or expired (intentionally generic)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/cli/device/token": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Public — the device_code itself is the bearer secret. CLI polls this every `interval` seconds until a terminal status (`approved`, `denied`, `expired`).",
        "operationId": "device_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tagged response (`status` discriminator): one of `pending`, `slow_down`, `denied`, `expired`, or `approved`. Every response is 200 — the CLI switches on `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal poll failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/login": {
      "get": {
        "tags": [
          "auth"
        ],
        "description": "Public — initiates the WorkOS OAuth login round-trip. No authentication required.",
        "operationId": "login",
        "responses": {
          "302": {
            "description": "Redirect to the WorkOS AuthKit authorize endpoint with a CSRF state token. The browser is expected to follow the redirect and ultimately land back at `/auth/callback`."
          },
          "500": {
            "description": "Failed to issue CSRF state token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/logout": {
      "get": {
        "tags": [
          "auth"
        ],
        "description": "Authenticated via httpOnly session cookies (`checkrd_session` and/or `checkrd_refresh`). Best-effort: anonymous calls (no cookies) still clear cookies and redirect.",
        "operationId": "logout",
        "responses": {
          "302": {
            "description": "Clears `checkrd_session` and `checkrd_refresh` cookies, then redirects to either WorkOS RP-Initiated Logout (when a `workos_session_id` is recoverable) or the dashboard `/login` page."
          }
        },
        "security": []
      }
    },
    "//auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "description": "Authenticated via httpOnly session cookie (`checkrd_session`).",
        "operationId": "me",
        "responses": {
          "200": {
            "description": "The authenticated user's profile + active-org context. Used by the dashboard ProfileMenu since the JWT cookie is httpOnly and opaque to JS.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (missing or invalid `checkrd_session` cookie)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Authenticated via httpOnly refresh cookie (`checkrd_refresh`). Atomic revoke-and-return guarantees only one of two concurrent refresh requests with the same token can succeed.",
        "operationId": "refresh",
        "responses": {
          "200": {
            "description": "New access JWT and rotated refresh token. Sets fresh `checkrd_session` and `checkrd_refresh` cookies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or already-revoked refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//auth/switch-org": {
      "post": {
        "tags": [
          "auth"
        ],
        "description": "Authenticated via httpOnly session cookie (`checkrd_session`). Reissues the access JWT scoped to the requested org.",
        "operationId": "switch_org",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwitchOrgRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "New JWT scoped to the target org. Also sets a refreshed `checkrd_session` cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (missing or invalid `checkrd_session` cookie)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a member of the target org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Target org not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health check endpoint.",
        "description": "Always returns HTTP 200 (ALB liveness probe). The response body includes\ncomponent status so operators can detect degraded Redis without the ALB\npulling the instance out of service (Redis is non-critical — the API\ndegrades to local-only rate limiting and no real-time SSE updates).",
        "operationId": "handler",
        "responses": {
          "200": {
            "description": "Process is alive. Component fields surface degraded dependencies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "//webhooks/workos": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "description": "Receives invitation lifecycle events from WorkOS — verified via Svix HMAC signature header (`workos-signature`). The OpenAPI security entry is empty because authentication is body-bound, not bearer-token. The handler reads only `id` (idempotency) and `event` (dispatch); all security-relevant fields (organization_id, role, email) come from our local `invitations` table, never the payload.",
        "operationId": "workos_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkosWebhookEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event accepted (also returned for malformed handler errors so WorkOS does not infinitely retry a broken event)"
          },
          "400": {
            "description": "Malformed JSON body"
          },
          "401": {
            "description": "Signature verification failed"
          },
          "503": {
            "description": "Orphan invitation — local row missing; retry expected after reconciliation sweeper backfills"
          }
        },
        "security": []
      }
    },
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "list_agents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page (UUID of the last item from the previous page).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of agents in the caller's workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAgents"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "create_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Plan limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "get_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "agents"
        ],
        "operationId": "update_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated agent record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "operationId": "delete_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent soft-deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/control": {
      "get": {
        "tags": [
          "control"
        ],
        "operationId": "control_stream",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Long-lived SSE stream emitting `init` (current state on connect), `kill_switch` (toggled), and `policy_updated` (DSSE-signed bundle) events. Polling fallback at `.../control/state`. Each `policy_updated` event carries a DSSE envelope verified in-WASM by the SDK.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "API key authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "SSE requires Redis; not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/control/dashboard-stream": {
      "get": {
        "tags": [
          "control"
        ],
        "summary": "JWT-authenticated SSE stream for the dashboard.",
        "description": "Same payload shape as the SDK-facing `/control` stream (init event +\n`kill_switch` / `policy_updated` events) but uses the dashboard's JWT\ncookie auth instead of the SDK `X-API-Key` header. EventSource in\nbrowsers sends same-origin cookies automatically, so there's no\nclient-side token plumbing — the cookie just needs to be present.\n\nLives at a distinct path (`/control/dashboard-stream`) so dashboard\nmiddleware (CSRF / rate-limit tier) applies naturally via the\n`/v1/*` prefix, and so SDKs can't accidentally consume a JWT-gated\nendpoint.",
        "operationId": "control_stream_for_dashboard",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT/cookie-authenticated SSE stream for the dashboard. Same `init` / `kill_switch` / `policy_updated` event payloads as the SDK stream — distinct path so SDKs cannot accidentally consume a JWT-gated endpoint.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "SSE requires Redis; not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/control/state": {
      "get": {
        "tags": [
          "control"
        ],
        "operationId": "get_control_state",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current kill-switch state plus the DSSE-signed active policy envelope. Polling fallback for SDKs that cannot hold a long-lived SSE connection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlState"
                }
              }
            }
          },
          "401": {
            "description": "API key authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to sign active policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/kill-switch": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "toggle_kill_switch",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KillSwitchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Kill switch toggled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies": {
      "get": {
        "tags": [
          "policies"
        ],
        "operationId": "list_policies",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page (UUID of the last item from the previous page).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated policy versions, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPolicies"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found in caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "policies"
        ],
        "operationId": "create_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Policy version created (does not auto-activate)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "description": "Policy YAML failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found in caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/active": {
      "get": {
        "tags": [
          "policies"
        ],
        "operationId": "get_active_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currently active policy for this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent has no active policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/analyze": {
      "post": {
        "tags": [
          "policies"
        ],
        "operationId": "analyze_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzePolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Static-analysis findings (with line numbers + optional auto-fix suggestions)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzePolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Policy YAML failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found in caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/diff": {
      "post": {
        "tags": [
          "policies"
        ],
        "operationId": "diff_policies",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffPoliciesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Terraform-plan-style diff between the base version and the candidate YAML. Mirrors `checkrd_shared::PolicyDiff`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDiffResponse"
                }
              }
            }
          },
          "400": {
            "description": "Candidate YAML failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Base version does not exist for this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/merged-effective": {
      "get": {
        "tags": [
          "policies"
        ],
        "summary": "Returns the merged effective policy and per-line source map.\nThe source_map marks each line as originating from \"org\" or \"agent\".\nIf no org policy exists, returns the agent's active policy directly.\nIf no active policy at all, returns 404.",
        "operationId": "get_merged_effective",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merged effective policy YAML with per-line source attribution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergedEffectivePolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No org policy and no active agent policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/replay": {
      "post": {
        "tags": [
          "policies"
        ],
        "operationId": "replay_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplayPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Replay summary with verdict counts and the set of events whose verdict would change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Policy YAML failed validation, or `range` is unsupported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found in caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/test": {
      "post": {
        "tags": [
          "policies"
        ],
        "operationId": "test_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Test summary with per-case pass/fail. Mirrors `checkrd_shared::PolicyTestSummary`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyTestSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Policy YAML failed validation, or test cases exceeded limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found in caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/{version}": {
      "get": {
        "tags": [
          "policies"
        ],
        "operationId": "get_policy_by_version",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Policy version",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Specific policy version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy version does not exist for this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "patch": {
        "tags": [
          "policies"
        ],
        "operationId": "update_draft_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Policy version (must be a draft, not active)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDraftPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated draft policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "description": "Policy YAML failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy version does not exist for this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Policy version is active and cannot be edited (create a new version instead)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/policies/{version}/activate": {
      "post": {
        "tags": [
          "policies"
        ],
        "operationId": "activate_policy",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Policy version to activate",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activated policy. Exactly one policy per agent is active at a time — the prior active version is deactivated atomically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy version does not exist for this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/public-key": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "register_public_key",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPublicKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Key registered or idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterPublicKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid public key format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Agent already has a different key registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/alert-history": {
      "get": {
        "tags": [
          "alert-history"
        ],
        "operationId": "list_alert_history",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Sentry-style window shorthand: `1h`, `24h`, `7d`, `30d`.\nApplied if `from` is absent. Ignored otherwise.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive lower bound on `evaluated_at` (RFC 3339).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Inclusive upper bound on `evaluated_at` (RFC 3339).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "alert_rule_id",
            "in": "query",
            "description": "Comma-separated alert-rule UUIDs (max 50).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Comma-separated agent UUIDs (max 50).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "new_state",
            "in": "query",
            "description": "Comma-separated state values: `firing`, `resolved`,\n`pending`, `ok`, `no_data`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a prior response's `next_cursor`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default 25, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated alert state transitions for the caller's workspace, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertHistory"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter (period, time range, cursor, or list bounds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alert-history/timeseries": {
      "get": {
        "tags": [
          "alert-history"
        ],
        "operationId": "timeseries_alert_history",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Sentry-style window shorthand: `1h`, `24h`, `7d`, `30d`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "alert_rule_id",
            "in": "query",
            "description": "Comma-separated alert-rule UUIDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Comma-separated agent UUIDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "new_state",
            "in": "query",
            "description": "Comma-separated state values.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "description": "Bucket size: `1h`, `6h`, `1d`. Auto-selected from the window\nif omitted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time-bucketed counts of alert state transitions, sorted ascending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlertHistoryBucket"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter (period, time range, bucket, or list bounds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts": {
      "get": {
        "tags": [
          "alerts"
        ],
        "operationId": "list_alerts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page (UUID of the last item from the\nprevious page).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Restrict to alert rules belonging to a specific agent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "alert_state",
            "in": "query",
            "description": "Comma-separated state values, e.g. `ok,resolved,no_data`.\nAccepts a single value too, for backwards compatibility with\nearlier clients that only sent one state at a time.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_type",
            "in": "query",
            "description": "Filter by `condition_type` (e.g., `error_rate`).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_enabled",
            "in": "query",
            "description": "Filter by enabled / disabled state.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of alert rules in the caller's workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertRules"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `alert_state` filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "post": {
        "tags": [
          "alerts"
        ],
        "operationId": "create_alert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alert rule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid alert configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found in caller's workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}": {
      "put": {
        "tags": [
          "alerts"
        ],
        "operationId": "update_alert",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated alert rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid alert configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "alerts"
        ],
        "operationId": "delete_alert",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert rule deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAlertResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}/history": {
      "get": {
        "tags": [
          "alerts"
        ],
        "operationId": "list_history",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page (UUID of the last item from the previous page).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated alert state transitions for this rule, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertStateHistory"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}/mute": {
      "post": {
        "tags": [
          "alerts"
        ],
        "operationId": "mute_alert",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MuteAlertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alert rule muted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `until` timestamp or non-positive `duration_minutes`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}/notifications": {
      "get": {
        "tags": [
          "alerts"
        ],
        "operationId": "list_notifications",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page (UUID of the last item from the previous page).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated notification delivery log for this rule, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAlertNotifications"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}/toggle": {
      "post": {
        "tags": [
          "alerts"
        ],
        "operationId": "toggle_alert",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleAlertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alert rule enabled / disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRule"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/alerts/{alert_id}/unmute": {
      "post": {
        "tags": [
          "alerts"
        ],
        "operationId": "unmute_alert",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Alert rule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert rule unmuted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertRule"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Member role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/audit-log": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "list_audit_log",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page (UUID of the last item from the\nprevious page).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "resource_type",
            "in": "query",
            "description": "Filter by `resource_type` (exact match).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filter by `action` (exact match, e.g., `agent.created`).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor_id",
            "in": "query",
            "description": "Filter by the UUID of the acting user.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive lower bound on `created_at` (RFC 3339 timestamp).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Inclusive upper bound on `created_at` (RFC 3339 timestamp).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive substring match across user name, user\nemail, and stringified `resource_id`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of audit log entries for the caller's workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAuditLog"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter (e.g., `from` > `to`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Plan does not include audit log access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/audit-log/{resource_type}/{resource_id}": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "list_for_resource",
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "description": "Resource bucket (e.g., `agent`, `policy`, `api_key`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_id",
            "in": "path",
            "description": "Resource UUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Up to 100 most-recent audit entries for the resource (newest first)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogEntryWithUser"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Plan does not include audit log access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "create_checkout",
        "responses": {
          "200": {
            "description": "Stripe-hosted Checkout Session URL the client redirects to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Stripe is not configured or the upstream call failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "create_portal",
        "responses": {
          "200": {
            "description": "Stripe Customer Portal URL the client redirects to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the Admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Stripe is not configured or the upstream call failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/billing/status": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "billing_status",
        "responses": {
          "200": {
            "description": "Plan tier, subscription state, live resource counts, and monthly event usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingStatus"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/dashboard/agents": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "operationId": "get_agent_stats",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Window start, RFC3339 timestamp. Must be paired with `to`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-04-01T00:00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Window end, RFC3339 timestamp. Must be paired with `from`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-04-30T23:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Per-agent rollup stats ordered by name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentStats"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid time range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_jwt": []
          }
        ]
      }
    },
    "/v1/dashboard/events": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "operationId": "get_events",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor for the next page (base64-encoded EventCursor).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter to events from a single agent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "HTTP method filter. Comma-separated for multi-value\n(`method=GET,POST`). Tokens are case-insensitive on input.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "query",
            "description": "Substring filter on URL host (case-insensitive, max 253 chars).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status_code",
            "in": "query",
            "description": "Exact HTTP status code filter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status_class",
            "in": "query",
            "description": "HTTP status bucket filter: `2xx`, `4xx`, or `5xx`. The dashboard\nsends this as `status=<bucket>`; the longer `status_class` alias\nis accepted for explicit API consumers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_result",
            "in": "query",
            "description": "Policy result filter: `allowed`, `denied`, or `error`. The\nshorter `result` alias is accepted for explicit API consumers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Window start, RFC3339 timestamp.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Window end, RFC3339 timestamp.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trace_id",
            "in": "query",
            "description": "W3C trace_id (32 lowercase hex chars) for trace-scoped lookup.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated telemetry event feed for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTelemetryEvents"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
[...]
